* {
    margin: auto;
    padding: 0;
    font-family: "Lucida Grande";
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    z-index: 3;
    background-color: #bfdebf;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0;
  }
  
  .navbar .burger {
    background-image: url("./images/burger-menu2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    margin: 0 5px;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
  }
  
  .navbar .nav-items {
    display: none;
    list-style: none;
    text-decoration: none;
  }
  
  .navbar.open .nav-items {
    display: block;
  }
  
  .navbar .nav-items {
    background-color: #bfdebf;
    height: 200px;
    width: 90%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
  }
  
  .nav-item {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2.4em;
    text-align: center;
  }
  
  .navbar.open .burger {
    display: none;
  }
  
  .semi-circle {
    width: 100%;
    height: 100%;
    border-radius: 0 0 70% 70%;
    background-color: #bfdebf;
    padding: 1px;
  }
  
  .banner-img {
    background-image: url("../images/banner-img-movile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 100px;
  }
  
  h1 {
    font-size: 2em;
    letter-spacing: 0.3em;
    color: white;
    z-index: 2;
    position: absolute;
    top: 8%;
    width: 100%;
    text-align: center;
  }
  
  .organic-description {
    margin: 1em;
    line-height: 1.3rem;
  }
  
  h2 {
    text-align: center;
    line-height: 2.5rem;
  }
  
  .green-box {
    padding: 1em;
    line-height: 1.3rem;
    background-color: #878553;
    color: white;
    border-radius: 15%;
    margin-bottom: 1em;
  }
  
  .green-box div {
    display: none;
  }
  
  .green-box div h3 {
    background-image: url("../images/super-healthy-icon.png");
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: contain;
    margin-bottom: 0.5em;
    padding: 0.5em 0;
  }
  
  .green-box .active {
    display: block;
  }
  
  h3 {
    line-height: 1.5em;
  }
  
  .video {
    width: 100%;
  }
  
  footer {
    background-color: #ede8d7;
    padding: 1em;
    flex-shrink: 0;
  }
  
  footer ul {
    text-decoration: none;
    list-style: none;
  }
  
  footer ul li {
    line-height: 1.5rem;
    margin: 1em 0;
  }
  
  footer ul li:first-child {
    background-image: url("../images/whatsapp-icon.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2em;
  }
  
  footer ul li:nth-child(2) {
    background-image: url("../images/instagram-icon.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2em;
  }
  
  footer ul li:last-child {
    background-image: url("../images/google-maps-icon.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2em;
  }


  @media screen and (min-width: 576px) and (max-width: 767px) {
    .navbar {
      height: 50px;
    }
  
    .green-box {
      padding: 3em 2em;
      line-height: 1.3rem;
      background-color: #878553;
      color: white;
      border-radius: 11%;
    }
  
    .green-box div h3 {
      background-size: contain;
      padding: 1em;
      background-position: 35%;
    }
  
    .video {
      height: 300px;
    }
  
    .form-section form {
      background-size: contain;
    }
  
    .form-section input,
    textarea {
      position: relative;
      left: 25%;
      width: 55%;
    }
  
    .form-section input:last-child {
      left: -132px;
      top: 1em;
      width: 14%;
    }
  
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .green-box {
      padding: 3em 3em;
    }
  
    .banner-img {
      padding: 120px;
    }
  
    .green-box div h3 {
      background-position: 25%;
    }
  
    .form-section form {
      background-size: contain;
    }
  
    .form-section input,
    textarea {
      position: relative;
      left: 32%;
      width: 41%;
    }
  
    .form-section input:last-child {
      left: -32%;
      width: 10%;
    }
  
    .video {
      height: 250px;
    }
  
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media screen and (min-width: 992px) {
    * {
      font-size: 22px;
    }
  
    .navbar {
      flex-direction: row;
      height: 60px;
    }
  
    .navbar .burger {
      background-image: none;
    }
  
    .navbar .nav-items {
      display: inline-block;
      height: 0;
      width: 80%;
      padding: 0;
    }
  
    .nav-items li {
      display: inline-block;
      padding: 0 20px;
    }
  
    .semi-circle {
      width: 100%;
      height: 100%;
      border-radius: 0 0 70% 70%;
      background-color: #bfdebf;
      padding: 1px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1023px) {
    .semi-circle {
      padding: 4px;
    }
  
    .banner-img {
      background-image: url("/images/banner-img-tablet.png");
      padding: 165px;
    }
  
    .green-box {
      padding: 3em 3em;
    }
  
    .green-box div h3 {
      background-position: 25%;
    }
  
    .green-box div {
      display: none;
    }
  
    .green-box div:nth-child(3) {
      display: block;
      margin-bottom: 0.5em;
    }
  
    .green-box div:nth-child(3) h3 {
      background-image: url("/images/shipping-icon.png");
      background-repeat: no-repeat;
      background-position: 18%;
      background-size: contain;
      margin: 1em 0 0;
      padding: 0.5em 0;
    }
  
    .green-box div h3 {
      background-image: url("/images/super-healthy-icon.png");
      background-repeat: no-repeat;
      background-position: 18%;
      background-size: 48px;
      margin: 0.5em 0 0;
      padding: 0.7em 0;
    }
  
    .video {
      height: 400px;
    }
  
    .form-section form {
      background-size: contain;
    }
  
    .form-section input,
    textarea {
      position: relative;
      left: 33%;
      width: 38%;
    }
  
    .form-section input:last-child {
      position: relative;
      left: -34%;
      width: 10%;
    }
  
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .navbar {
      background-size: 60px;
    }
  
    .banner-img {
      padding: 120px;
    }
  
    .green-box {
      border-radius: 7%;
    }
  
    .green-box h2 {
      margin-top: 0.5em;
    }
  
    .green-box div h3 {
      background-position: 17%;
    }
  
    .video {
      height: 400px;
    }
  
    .form-section input,
    textarea {
      position: relative;
      left: 33%;
      width: 38%;
    }
  
    .form-section input:last-child {
      position: relative;
      left: -34%;
      width: 10%;
    }
  
    .form-section form {
      background-size: contain;
    }
  
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .navbar {
      background-size: 65px;
    }
  
    .banner-img {
      padding: 170px;
    }
  
    .organic-description {
      padding: 0 40px;
      margin: 2em 4em;
    }
  
    .green-box {
      display: block;
      border-radius: 7%;
      padding: 1em 40px;
    }
  
    .green-box h2 {
      margin-top: 0.5em;
      font-size: 24px;
    }
  
    .green-box .flexbox {
      display: flex;
      justify-content: space-between;
    }
  
    .green-box div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1000px;
    }
  
    .green-box div.column {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin: 50px 10px;
    }
  
    .green-box .background {
      background-position: 55%;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 1em 1em 0;
      padding: 0.5em 0;
    }
  
    .green-box .healthy-icon {
      text-align: left;
      background-image: url("../images/super-healthy-icon.png");
      background-position: 90%;
    }
  
    .green-box .shipping-icon {
      background-image: url("../images/shipping-icon.png");
    }
  
    .green-box .background.garantee-icon {
      background-image: url("../images/garantee-icon.png");
      background-position: 90%;
    }
  
    .green-box .quality-icon {
      background-image: url("../images/quality-icon.png");
      background-position: 80%;
    }
  
    .green-box .natural-icon {
      background-image: url("../images/natural-icon.png");
    }
  
    .green-box .fresh-icon {
      background-image: url("../images/fresh-icon.png");
    }
  
    .video {
      margin: auto;
      height: 500px;
      width: 65%;
      position: relative;
      left: 15%;
    }
  
    .form-section {
      margin: 1em 4em;
    }
  
    .form-section form {
      background-size: contain;
    }
  
    .form-section input,
    textarea {
      position: relative;
      left: 40%;
      max-width: 22.5%;
    }
  
    .form-section input:last-child {
      position: relative;
      left: -40%;
      max-width: 7%;
    }
  
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  /* Store css */

a{
    text-decoration: none;
}

.banner-offers{
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    background-color: #bfdebf;
    width: 50%;
    border-radius: 10px;
    padding: 1em;
}


.banner-description{
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    line-height: 0.3em;
}

.red-text{
    color: red;
    font-weight: bold;
}

.green-text{
    color:#878553;
    font-weight: bold;
}

.section-title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 1em 2.8em;
}

.container-card{
    display: flex;
    justify-content: center;
    max-width: 50rem;
  }

.div-container{
  display: flex;
  flex-wrap: wrap;
}

.img-container{
    text-align: center;
}

.card-item{
    line-height: 1.5em;
    overflow: hidden;
    min-width: 11rem;
    padding-bottom: 60px;
    background-color: #fefefe;
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    box-shadow: 0px 0px 16px #ccc;
    margin: 2em auto;
    padding: 1em;
}


/* Form css */
  
.logo-placeholder {
    text-align: center;
}

.short-form-description {
    width: 50%;
    padding: 0 3em;
    text-align: center;
}

.form-section {
    margin: 1em;
  }
  
  .form-section form {
    width: 100%;
    margin-top: 1em;
    padding: 1.7em;
    background-image: url("../images/form-background-pc.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }  
  
  .form-section h3 {
    margin-bottom: 0.5em;
  }
  
  .form-section input,
  textarea {
    margin: 0.5em -1em;
    padding: 0.7em;
    color: black;
    border: none;
    background-color: white;
    resize: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .form-section input:last-child {
    background-color: #878553;
    color: white;
    border-radius: 10%;
    margin-top: 1em;
    padding: 0.7em 1em;
    align-self: flex-end;
  }

.form-section input:last-child:hover  {
    cursor: pointer;
  }

  /* Products details css */

.product-container {
    display: flex;
    justify-content: space-evenly;
    line-height: 1.5em;
    max-width: 35%;
    border-radius: 15px;
    box-shadow: 0px 0px 16px #ccc;
    margin: 5em auto;
    padding: 2em;
}

.product-container div {
  max-width: 50%;
}

.button {
    background-color: #878553;
    color: white;
    border-radius: 10%;
    margin-top: 1em;
    padding: 0.7em 0.5em;
    align-self: flex-end;
}